<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Lookup - Node.js Version </title>
  </head>
  <body>

    <h1>Stock Lookup</h1>

    <p><%= stock %> closed at $<%= price %></p>

  </body>
</html>
